.navLinks{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-left: auto;
}

.navLinks a{
    color: var(--green);
}

.btn{
    background-color: var(--dark-blue);
    padding: 10px;
    color: var( --border-color);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

#register{
    background-color: var(--grey-bg);
    border: solid;
    color: var(--dark-blue);
}

.logo{
    margin-top: 10px;
    margin-left: 50px;
}
  
.logo img{
    height: 50px;
}
