.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: var(--dark-blue);
    padding: 100px;
    height: 800px;
    margin-bottom: 5rem;
}

.title{
    font-size: 60px;
    font-weight: 600;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.description p{
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
}

.description .btn{
    padding: 10px 20px;
}

.images img{
    border-radius: 20px;
    height: 300px;
    opacity: 0.3;
}

#food1{
    position: absolute;
    bottom: 30%;
    left: 0%;
}

#exercise1{
    position: absolute;
    bottom: 70%;
    left: 30%;
    z-index: -1;
}

#exercise2{
    position: absolute;
    bottom: 5%;
    left: 55%;
}

#bed1{
    position: absolute;
    bottom: 60%;
    left: 70%;
    z-index: -1;
}

#bed2{
    position: absolute;
    bottom: 20%;
    left: 85%;
}

#plan1{
    position: absolute;
    bottom: 5%;
    left: 20%;
}

#information{
    display: flex;
    gap: 5rem;
    background-color: var(--green-clear);
    height: 800px;
}

#description-main{
    margin-left: 50px;
}

#description-main .btn{
    background-color: white;
    border: solid;
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}

#infoImages{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

#infoImages img{
    opacity: 0.8;
}

#author{
    background-color: #2c4047b0;
    margin: 5rem 25rem;
    border-radius: 30px;
}
.description h3{
    font-size: 40px;
    margin: 1rem 1rem;
}

.description img{
    height: 200px;
    border-radius: 50%;
}

.description #desc-author{
    width: 60vh;
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
}

#author h3, #author p{
    color: white;
}

footer{
    background-color: var(--grey-bg);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}