.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-bg);
  padding: 10px;
}

.logo{
  margin-top: 10px;
  margin-left: 50px;
}

.logo img{
  height: 50px;
}

.navlinks{
  margin-right: 60px;
}



