.registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--grey-bg);
    padding: 20px 0px;
    margin: 4rem 35rem;
    border-radius: 30px;
}

.registration-form input{
    width: 300px;
    border: solid;
    border-color: var(--dark-blue);
    padding: 5px;
    border-radius: 10px;
}

.registration-form h2{
    margin-bottom: 2rem;
}

.registration-form button{
    margin-top: 1rem;
}